<div class="container">
	</div><h3>About Me</h3>
	<div class="card z-depth-3">
		<div class="card-content white-text">
		<div class="row">
			<div class="col m6">
				<a class="twitter-timeline" data-lang="en"	href="https://twitter.com/heitor_murbach">Tweets by heitor_murbach</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>

			<div class="col m6">
				<div class="card-panel	grey lighten-5 z-depth-1">
					<div class="row valign-wrapper">
						<div class="col m3">
							<%= image_tag "avatar.jpg", class: "circle responsive-img" %>
						</div>
						<div class="col m9">
							<span class="black-text">
							really trying to make this work!!! Heitor
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>