<!DOCTYPE html>
<html>

<head>

<!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>Code4hivelab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	
	<%= render partial: "shared/header" %>
	<%= render partial: "shared/message" %>
 	

	<main>

		<div class="container">
			<%= yield %>
		</div>

	</main>
		
	<%= render partial: "shared/footer" %>
	 	
	</body>

<script>
	
	$(".button-collapse").sideNav();
	$(".dropdown-button").dropdown();


</script>

</html>
